# Сбор всех выделенных списков в один файл для работы

In [1]:
import pandas as pd
data = pd.read_csv('data_forprint.csv',encoding='utf8',index_col=None)
data= data.drop('Unnamed: 0',axis=1)
data.head(5)

,domain_id,domain_name,profearea_id,profearea_name,ad_id,name,requirements,responsibilities,conditions
0,1,"Информационные технологии, интернет, телеком",1.395,Банковское ПО,35549307,Директор проектов (Лаборатория технологий омни...,Опыт работы не менее 5 лет в руководящей позиц...,Управление проектами в области цифровых канало...,Место работы: м. Киевская \nГрафик работы 5/2 ...
1,1,"Информационные технологии, интернет, телеком",1.327,Управление проектами,35549307,Директор проектов (Лаборатория технологий омни...,Опыт работы не менее 5 лет в руководящей позиц...,Управление проектами в области цифровых канало...,Место работы: м. Киевская \nГрафик работы 5/2 ...
2,1,"Информационные технологии, интернет, телеком",1.395,Банковское ПО,35966411,Начальник отдела стратегических проектов и тех...,Умение логически выстраивать бизнес-процессы;...,Инициирование новых доработок (подготовка бизн...,Социальный пакет с расширенным ДМС со стоматол...
3,1,"Информационные технологии, интернет, телеком",1.395,Банковское ПО,36012308,Project Manager (Digital),Высшее техническое или высшее экономическое об...,Реализация проектов по созданию digital-процес...,"Профессиональное обучение, семинары, тренинги,..."
4,1,"Информационные технологии, интернет, телеком",1.221,"Программирование, Разработка",36012308,Project Manager (Digital),Высшее техническое или высшее экономическое об...,Реализация проектов по созданию digital-процес...,"Профессиональное обучение, семинары, тренинги,..."

In [2]:
req = pd.read_csv('data_with_req_refined_2.csv',encoding='utf8',index_col=None)
req= req.drop('Unnamed: 0',axis=1)
req.head(5)

,profearea_name,ad_id,requirements,requirements_refined,req_idxs
0,Банковское ПО,35549307,Опыт работы не менее 5 лет в руководящей позиц...,['управление проектами ' 'управление ' 'програ...,"(array([ 20, 21, 50, 58, 70, 103, 135, 137..."
1,Управление проектами,35549307,Опыт работы не менее 5 лет в руководящей позиц...,['управление проектами ' 'управление ' 'програ...,"(array([ 20, 21, 50, 58, 70, 103, 135, 137..."
2,Банковское ПО,35966411,Умение логически выстраивать бизнес-процессы;...,['высшее техническое математическое экономичес...,"(array([ 0, 15, 88, 95, 123, 131, 138]),)"
3,Банковское ПО,36012308,Высшее техническое или высшее экономическое об...,['высшее техническое математическое экономичес...,"(array([ 0, 16, 17, 19, 35, 45, 95, 96..."
4,"Программирование, Разработка",36012308,Высшее техническое или высшее экономическое об...,['высшее техническое математическое экономичес...,"(array([ 0, 16, 17, 19, 35, 45, 95, 96..."

In [5]:
resp = pd.read_csv('data_with_resp_refined.csv',encoding='utf8',index_col=None)
resp= resp.drop('Unnamed: 0',axis=1)
resp.head(5)

,profearea_name,ad_id,responsibilities,responsibilities_refined,resp_idxs
0,Банковское ПО,35549307,Управление проектами в области цифровых канало...,['ответственность ' 'сопровождение ' 'управлен...,"(array([ 4, 18, 46, 101]),)"
1,Управление проектами,35549307,Управление проектами в области цифровых канало...,['ответственность ' 'сопровождение ' 'управлен...,"(array([ 4, 18, 46, 101]),)"
2,Банковское ПО,35966411,Инициирование новых доработок (подготовка бизн...,['функциональное тестирование ' 'оптимизация с...,"(array([ 7, 8, 9, 10, 17, 20, 31, 35..."
3,Банковское ПО,36012308,Реализация проектов по созданию digital-процес...,['телекоммуникации ' 'оптимизация бизнес-проце...,"(array([ 12, 17, 20, 26, 27, 31, 36, 39..."
4,"Программирование, Разработка",36012308,Реализация проектов по созданию digital-процес...,['телекоммуникации ' 'оптимизация бизнес-проце...,"(array([ 12, 17, 20, 26, 27, 31, 36, 39..."

In [6]:
cond = pd.read_csv('data_with_cond_refined.csv',encoding='utf8',index_col=None)
cond= cond.drop('Unnamed: 0',axis=1)
cond.head(5)

,profearea_name,ad_id,conditions,conditions_refined,cond_idxs
0,Банковское ПО,35549307,Место работы: м. Киевская \nГрафик работы 5/2 ...,['профессиональное развитие ' 'профессиональна...,"(array([ 8, 9, 14, 17, 19, 36, 39, 44, 56, 59..."
1,Управление проектами,35549307,Место работы: м. Киевская \nГрафик работы 5/2 ...,['профессиональное развитие ' 'профессиональна...,"(array([ 8, 9, 14, 17, 19, 36, 39, 44, 56, 59..."
2,Банковское ПО,35966411,Социальный пакет с расширенным ДМС со стоматол...,['корпоративная библиотека ' 'социальный пакет...,"(array([16, 62, 67, 74]),)"
3,Банковское ПО,36012308,"Профессиональное обучение, семинары, тренинги,...",['участие в крупных проектах ' 'обучение ' 'пр...,"(array([ 5, 6, 8, 9, 10, 14, 17, 21, 34, 46..."
4,"Программирование, Разработка",36012308,"Профессиональное обучение, семинары, тренинги,...",['участие в крупных проектах ' 'обучение ' 'пр...,"(array([ 5, 6, 8, 9, 10, 14, 17, 21, 34, 46..."

In [7]:
data['req_refined']=req['requirements_refined']
data['req_idxs']=req['req_idxs']
data['resp_refined']=resp['responsibilities_refined']
data['resp_idxs']=resp['resp_idxs']
data['cond_refined']=cond['conditions_refined']
data['cond_idxs']=cond['cond_idxs']

In [8]:
data.to_csv('data_for_clustering.csv')